body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#collegeList {
    max-height: 500px;
    overflow-y: auto;
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
}